.fl_left
{
    float: left;
}
.font_size
{
    font-size: 300px;
   
}
.blue
{
    color: royalblue;
}
.red
{
    color: red;
}
.orange
{
    color: orange;
}
.green
{
    color: green;
}
