 * {
    background-color: red;
    color: yellow;
} 
 /* h1{
    color: blue;
    background-color: orange;
    
 }
 h2
 {
    color: brown;
    background-color: salmon;
 }
 body{
    background-color: greenyellow;
 } */